// для media-запросов
@mixin media-large {
  @media (max-width: $large-width) {
    @content;
  }
}

@mixin media-medium {
  @media (max-width: $medium-width) {
    @content;
  }
}

@mixin media-netbook {
  @media (max-width: $netbook-width) {
    @content;
  }
}

@mixin media-small {
  @media (max-width: $small-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-990 {
  @media (max-width: 990px) {
    @content;
  }
}

// этот для вещей, которые должны быть только на устройствах, подддерживающих эффекты наведения
@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin link {
  text-decoration: none;
  transition: 1s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

@mixin disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin text-xs($font-weight: $fw-light) {
  margin: 0;
  font-size: 12px;
  font-weight: $font-weight;
  line-height: 1.3;
  letter-spacing: -0.14px;
}

@mixin text-s($font-weight: $fw-light) {
  margin: 0;
  font-size: 14px;
  font-weight: $font-weight;
  line-height: 1.3;
  letter-spacing: -0.14px;
}

@mixin text-xm($font-weight: $fw-light) {
  margin: 0;
  font-size: 15px;
  font-weight: $font-weight;
  line-height: 1.3;
  letter-spacing: -0.15px;
}

@mixin text-m($font-weight: $fw-light) {
  margin: 0;
  font-size: 16px;
  font-weight: $font-weight;
  line-height: 1.3;
  letter-spacing: -0.16px;
}

@mixin text-ml($font-weight: $fw-light) {
  margin: 0;
  font-size: 18px;
  font-weight: $font-weight;
  line-height: 1.2;
  letter-spacing: -0.18px;
}

@mixin text-l($font-weight: $fw-light) {
  margin: 0;
  font-size: 20px;
  font-weight: $font-weight;
  line-height: 1.3;
  letter-spacing: -0.2px;
}

@mixin text-xls($font-weight: $fw-light) {
  margin: 0;
  font-size: 24px;
  font-weight: $font-weight;
  line-height: 1.2;
}

@mixin text-xlm($font-weight: $fw-light) {
  margin: 0;
  font-size: 28px;
  font-weight: $font-weight;
  line-height: 1.2;
}

@mixin text-xl($font-weight: $fw-light) {
  margin: 0;
  font-size: 40px;
  font-weight: $font-weight;
  line-height: 1.2;
}

@mixin text-xxl($font-weight: $fw-normal) {
  margin: 0;
  font-size: 50px;
  font-weight: $font-weight;
  line-height: 1.2;
}

@mixin input {
  @include text-m($fw-normal);
  border: none;
  color: $black;
  background-color: $bg-purple;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  font-style: normal;

  &::placeholder {
    color: $black;
    opacity: 1;
  }

  &:focus {
    outline: 1px solid $border-purple;
  }

  &_invalid {
    color: $error;
  }
}

@mixin formInput {
  height: 68px;

  @include media-medium {
    height: 50px;
  }
  @include media-mobile {
    height: 50px;
  }
}

@mixin header-cyan($font-weight: $fw-normal) {
  margin: 0;
  font-size: 48px;
  font-weight: $font-weight;
  line-height: 1.2;
  letter-spacing: 1.4px;
  color: $black;
}

@mixin scrollbars {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: $button-cyan;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $button-cyan-hover;
    border-radius: 20px;
    height: 40px;
  }
}

@mixin button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: ease-in-out 350ms;
}

// Отступы для контейнеров страниц
@mixin margin-main {
  margin-top: 40px;
  margin-bottom: 60px;
  padding-bottom: 40px;
}

// Отступы для виджетов
@mixin padding-widget-main {
  padding-right: 32px;
  padding-left: 32px;
}

// Обнуление отступов
@mixin margin-padding-null {
  padding: 0;
  margin: 0;
}

// Сброс стилей fieldset
@mixin fieldset-clean {
  margin: 0;
  padding: 0;
  border: 0;
}

// Эффекты
@mixin border-color-transition {
  transition: border-color 0.3s ease;
}

// Popups
@mixin popup-container-upper($max-width) {
  margin-top: 0;
  width: 100%;
  max-width: $max-width;
}

@mixin popup-container-main {
  @include popup-container-upper(680px);
  min-width: 600px;
  gap: 20px;

  @include media-medium {
    min-width: auto;
    max-width: 364px;
  }

  @include media-small {
    max-width: 320px;
  }
}

@mixin popup-container-second {
  @include popup-container-main;
  gap: 40px;

  @include media-medium {
    gap: 20px;
  }
}

@mixin popup-paddings-main {
  @include media-medium {
    padding: 20px 32px 32px;
  }

  @include media-small {
    padding: 44px 16px 40px;
  }
}

@mixin popup-form-main {
  display: flex;
  flex-direction: column;
}

// Popup button
@mixin popup-button-main {
  @include media-medium {
    @include text-m($fw-semi-bold);
  }
}
