// Шрифты
%font-prim {
  font-family: 'Raleway', 'Arial', sans-serif;
}

%font-add {
  font-family: 'Noto Sans', 'Arial', sans-serif;
}

// Градиенты
%gradient {
  background: linear-gradient(to right, #6e57d5, #5bc1ff);
}
